<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>

    <%- include('partials/head') %>
    <body>
        <h1><%= heading %></h1>
        <p>Today is <%= day %></p>
        <%- include('partials/footer') %>

    </body>
</html>